commandlog.txt
errors.txt
output*
THREEME.ppr
*.ppr
perso*
*.~rg
*.DS_Store
tmp_*
_tmp_*
in.txt
out.txt*
dependency.graphml
.~lock.*
*.wf1

!src/utils/output_list.txt

results/standard/*.txt
results/all.csv
results/dgec/*.txt
results/*.txt

*.~f1
test.csv

.Rhistory
.Rproj.user
*.sublime-project
*.sublime-workspace
