# Ignore temporary files of the compiler
in.txt
out.txt.prg
dependency.graphml

# Ignore back-up EViews files
*.~rg
*.~f1


# Ignore result files
results/*.wf1

# Ignore project files (R, Sublime, etc.)

.Rhistory
.Rproj.user
*.sublime-project
*.sublime-workspace

# Ignore log files from the compiler to Latex
doc/*.aux
doc/*.log

